
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;
      flex-wrap: wrap; /* Para que los elementos se ajusten al espacio disponible */
    }

    h1 {
      text-align: center;
      color: #bdbaa8;
      margin-bottom: 10px;
    }

    p {
      text-align: center;
      color: antiquewhite;
      margin-bottom: 20px;
    }

    .card {
      height: 200px;
      width: 250px;
      background: #413d3d;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 10px;
      /* Ajusta la velocidad de la animación */
    }



    .card h2 {
      font-family: Helvetica, Arial;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
      transition: all 0.8s ease; /* Ajusta la velocidad de la transición del texto */
      color: #bdbaa8;
      margin-bottom: 10px;
    }

    .card .content {
      opacity: 1;
      transition: all 0.8s ease;
      padding: 10px;
      color: #fff;
      text-align: center;
    }



    .icons {
      display: flex;
      justify-content: space-around;
    }
  </style>

  <div class="container">
    <h1>¡Hola! Soy Galileo Muñoz</h1>
    <h5>Estudiante de ingeniería de sistemas apasionado por la ciberseguridad y en camino de convertirme en un Pentester.
    </h5>
  
    <div class="card">
      <h2>Education</h2>
      <div class="content">
        <p>Text content related to education...</p>
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card">
        <h2>Education</h2>
        <div class="content">
          <p>Text content related to education...</p>
          <div class="icons">
            <i class="fa fa-codepen" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-dribbble" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <h2>Education</h2>
        <div class="content">
          <p>Text content related to education...</p>
          <div class="icons">
            <i class="fa fa-codepen" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-dribbble" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    <div class="card">
      <h2>Certification</h2>
      <div class="content">
        <p>Text content related to certification...</p>
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <!-- Añade más cards según sea necesario -->
  </div>



