<!-- home.component.html -->
<div class="container">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <a href="/about" class="photo">
    <h1>Gallileo Muñoz</h1>
      <!-- <img src="https://i.pinimg.com/736x/32/a4/54/32a4545355ff9781b0bac10bfe4edc9f.jpg" /> -->
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSoynj7JcTN8nJ7dE8V19BuAWtQQZzG4JUtzh0391zyqDxIMuJvamZmCTdSIPOgWn9DPo&usqp=CAU" />
      
      <h3 id="profesion">PENTESTER</h3>
    <div class="glow-wrap">
      <i class="glow"></i>
    
    </div>  
    <div>
    
    </div>
  <div>
    <a href="/about" id="author">About me</a>
  </div>
  </a>

</div>
